@import '../../styles/variables.scss';

.article {
  & article {
    & .article-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 14px;
      & .left-info {
        display: flex;
      }
      &__views {
        display: flex;
        align-items: center;
        margin-left: 15px;
        & svg {
          margin-right: 7px;
        }
      }
      &__date {
        margin-right: 15px;
        color: #767676;
      }
    }
    & .article-heading {
      margin-bottom: 5px;
      & h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        color: $black-clr;
      }
    }
    & .article-category {
      margin-bottom: 10px;
      & a {
        font-size: 16px;
      }
    }
    & .article-share {
      position: sticky;
      top: 75px;
      height: 0;
      margin: 0 0 0 -50px;
      &__social {
        display: flex;
        flex-direction: column;
        width: 1.3rem;
        & a {
          width: 1.3rem;
          text-decoration: none;
          margin-right: 10px;
          margin-bottom: 20px;
          & svg:hover {
            & .vk-icon {
              fill: #4680C2;
            }
            & .twitter-icon {
              fill: #00acee;
            }
            & .facebook-icon {
              fill: #3b5998;
            }
          }
        }
        & a:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    & .article-description {
      margin-bottom: 20px;
      & p {
        font-size: 17px;
        color: $black-clr;
      }
    }
    & .article-tags {
      display: flex;
      margin-bottom: 20px;
    }
    & .article-image {
      & img {
        height: auto;
        max-width: 100%;
        border-radius: 7px;
      }
      margin-bottom: 25px;
    }
    & .article-more {
      margin: 15px 0;
    }
    & .article-comments {
      margin: 25px 0;
      & div.gt-header > div.gt-header-comment > div.gt-header-controls > a > span > span.gt-svg {
        display: none;
      }
      & .gt-container {
        & .gt-comment-content {
          transition: none;
          &:hover {
            box-shadow: none;
          }
        }
        & .gt-header-textarea {
          transition: none;
        }
      }
    }
  }
}

.dark {
  & .article {
    & article {
      & .article-share {
        &__social {
          & a {
            & svg:hover {
              & .vk-icon {
                fill: #4680C2;
              }
              & .twitter-icon {
                fill: #00acee;
              }
              & .facebook-icon {
                fill: #3b5998;
              }
            }
            & svg {
              & .vk-icon, .twitter-icon, .facebook-icon {
                fill: $white-clr;
              }
            }
          }
        }
      }
      & .article-info, & .article-share {
        color: $white-clr;
      }
      & .article-more {
        color: $white-clr;
      }
      & .article-comments {
        & .gt-container {
          color: $white-clr;
          & .gt-header-textarea {
            background-color: #2A2A2A;
            color: $white-clr;
          }
          & .gt-comments {
            & .markdown-body pre {
              background: none;
              color: #fff;
            }
          }
          & .gt-meta {
            border-bottom: 1px solid rgba(153, 153, 153, 0.2)
          }
          & .gt-comment-content {
            background-color: #2A2A2A;
          }
          & .gt-comment-content:hover {
            box-shadow: none;
          }
          & .gt-btn-preview {
            background-color: #2A2A2A;
            color: #ffffff;
            border: 1px solid rgba(153, 153, 153, 0.2);
            &:hover {
              background-color: #414141;
            }
          }
          & .gt-header-preview {
            background-color: #2A2A2A;
            & p, a, h1, h2 ,h3, h4, h5, h6 {
              color: $white-clr;
            }
          }
          & .gt-svg svg {
            fill: $white-clr !important;
          }
        }
      }
      & p, h1, h2, h3, h4, h5, h6, ul, ol {
        color: $white-clr;
      }
      & blockquote {
        background: #2A2A2A;
        color: $white-clr;
      }
    }
  }
}

@media (max-width: 1300px) {
  .article {
    & article {
      & .article-share {
        display: none;
      }
    }
  }
}