@import '../../styles/variables.scss';

.newsletter {
  border-radius: 7px;
  background: linear-gradient(135.9deg, #f5f9ff, #f5f9ff 0.01%, #f6f4fb 98.96%);
  padding: 25px 25px;
  & .newsletter-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $black-clr;
    text-align: center;
  }
  & .newsletter-content {
    text-align: center;
    & p {
      font-size: 15px;
      margin-bottom: 10px;
    }
    & form {
      display: flex;
      justify-content: center;
      & p {
        margin-bottom: 40px;
        font-size: 15px;
        color: $black-clr;
      }
      & .email-field {
        margin-top: 10px;
        display: inline-flex;
        & input {
          width: 300px;
          height: 35px;
          padding: 10px;
          font-family: 'Inter', sans-serif;
          font-size: 13px;
          border-radius: 5px;
        }
        & button {
          background: linear-gradient(112.92deg, #6395F8 0%, #463EAC 100%);
          border-radius: 5px;
          margin-left: 5px;
          height: 35px;
          width: 130px;
          font-size: 13px;
          padding: 0 15px;
          cursor: pointer;
          &:hover {
            background: linear-gradient(135deg,#37f,#211c63);;
          }
        }
      }
    }
  }
}

.dark {
  & .newsletter {
    background: #2A2A2A;
    & .newsletter-heading {
      color: $white-clr;
    }
    & .newsletter-content {
      & p {
        color: $white-clr;
      }
      & form {
        & p {
          color: $white-clr;
        }
        & input {
          border: 1px solid rgba(153, 153, 153, 0.2);
          background: #202020;
          color: $white-clr;
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .newsletter {
    & .newsletter-content {
      & form {
        & .email-field {
          & input {
            width: 100%;
          }
        }
      }
    }
  }
}