@import './variables.scss';
@import './fonts.scss';

/* Components */

@import '../components/Header/Header.scss';
@import '../components/About/About.scss';
@import '../components/Offers/Offers.scss';
@import '../components/Articles/Articles.scss';
@import '../components/Articles/ArticleCard/ArticleCard.scss';
@import '../components/Newsletter/Newsletter.scss';
@import '../components/Article/Article.scss';
@import '../components/Snippet/Snippet.scss';
@import '../components/Snippets/Snippets.scss';
@import '../components/Articles/MoreArticles/MoreArticles.scss';
@import '../components/Books/Books.scss';
@import '../components/Contacts/Contacts.scss';
@import '../components/Footer/Footer.scss';

.container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.btn-primary {
  font-family: 'Inter', sans-serif;
  padding: 7px 24px;
  background: linear-gradient(119.41deg, #6395F8 0%, #463EAC 100%);
  border-radius: 28px;
  color: $white-clr;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(135deg,#37f,#211c63);;
  }
}

div.gt-header > div.gt-header-comment > div.gt-header-controls > a > span > span.gt-svg {
  display: none;
}

article .gt-container {
  & .gt-comment-content {
    transition: none;
    &:hover {
      box-shadow: none;
    }
  }
  & .gt-header-textarea {
    transition: none;
  }
}

.btn-loadMore {
  background: none;
  text-decoration: underline;
  color: #6ab0f3;
  cursor: pointer;
  font-size: 15px;
}

.tag-item {
  margin-bottom: 13px;
  margin-right: 5px;
  & a {
    text-decoration: none;
    padding: 5px 10px;
    background: #EBF1FE;
    color: #6ab0f3;
    font-size: 14px;
    border-radius: 4px;
    &:hover {
      background: #d8e3fd;
      color: #3972f4;
    }
  }
  &.active a {
    background: #d8e3fd;
    color: #3972f4;
  }
}

.anchor-link.before {
  top: -2px!important;
}
.inner {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 15px;
  & a {
    margin-bottom: 10px;
  }
  & h2 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  & p {
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 15px;
  }

  & p img {
    text-align: center;
    border-radius: 7px;
    border: 1px solid #f0f0f0;
  }

  & ul {
    margin-left: 34px;
    margin-bottom: 5px;

    & li {
      padding: 7px 0;
      & p {
        display: inline-block;
        font-size: 16px;
        position: relative;
        right: 4px;
      }
      &::before {
        content: "\2022";
        color: #6394F7;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }

  & ol {
    & li {
      padding: 4px 0;
      line-height: 23px;
    }
  }

  & blockquote {
    margin: 20px 0;
    padding: 15px;
    border-radius: 7px;
    background: linear-gradient(135.9deg, #F5F9FF 0%, #F5F9FF 0.01%, #F6F4FB 98.96%);
    border-top: 4px solid #6394F7;
  }

  .gatsby-highlight pre[class*="language-"]:before {
    color: #232129;
    font-size: 0.75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing: 0.075em;
    line-height: 1;
    position: absolute;
    left: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    top: 0px;
    border-radius: 0px 0px 4px 4px;
    padding: 0.25rem 0.5rem;
  }

  .gatsby-highlight pre[class*="language-"] {
    background: linear-gradient(135.9deg,#f5f9ff,#f5f9ff .01%,#f6f4fb 98.96%);
    padding-top: 25px;
    & code {
      color: #001080;
    }
    & .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
      color: #0000FF;
    }
    & .token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
      color: #A31515;
    }
    & .token.boolean, .token.function {
      color: #795E26;
    }
    & .token.number {
      color: #09885A;
    }
    & .token.operator, .token.entity, .token.url {
      color: #0000FF;
    }
    & .token.boolean {
      color: #0000FF;
    }
    & .token.punctuation {
      color: #000000;
    }
  }

  .gatsby-highlight pre[class*="language-"].line-numbers .line-numbers-rows {
    border: none;
    padding-left: 15px;
    padding-top: 25px;
    & span::before {
      color: #666666;
    }
  }

  .gatsby-highlight pre[class*="language-scss"]:before {
    content: "scss";
    background: #e73eaf;
    color: $white-clr;
  }

  .gatsby-highlight pre[class*="language-js"]:before {
    content: "js";
    background: rgb(247, 223, 30);
  }

  .gatsby-highlight pre[class*="language-jsx"]:before {
    content: "jsx";
    background: #0a91eb;
    color: $white-clr;
  }

  .gatsby-highlight pre[class*="language-ts"]:before {
    content: "ts";
    background: #007acc;
    color: $white-clr;
  }

  .gatsby-highlight pre[class*="language-text"]:before {
    content: "text";
    background: #efefef;
  }

  .gatsby-highlight pre[class*="language-bash"]:before {
    content: "bash";
    background: #efefef;
  }

  .gatsby-highlight pre[class*="language-graphql"]:before {
    content: "graphql";
    color: #fff;
    background: #e535ab;
  }

  & pre {
    border-radius: 7px;
    margin: 0 0 15px;
    font-size: 16px;
    & code {
      padding-top: 10px;
    }
  }
}

.light-default-light {
  background: linear-gradient(135.9deg, #F5F9FF 0%, #F5F9FF 0.01%, #F6F4FB 98.96%);
}

.theme-switcher {
  cursor: pointer;
  opacity: 0;
  &.ready {
    opacity: 1;
    transition: all 0.2s linear 0s;
  }
}

.dark {
  background: #202020;
  article .gt-container {
    color: $white-clr;
    & .gt-header-textarea {
      background-color: #2A2A2A;
      color: $white-clr;
    }
    & .gt-comments {
      & .markdown-body pre {
        background: none;
        color: #fff;
      }
    }
    & .gt-meta {
      border-bottom: 1px solid rgba(153, 153, 153, 0.2)
    }
    & .gt-comment-content {
      background-color: #2A2A2A;
    }
    & .gt-comment-content:hover {
      box-shadow: none;
    }
    & .gt-btn-preview {
      background-color: #2A2A2A;
      color: #ffffff;
      border: 1px solid rgba(153, 153, 153, 0.2);
      &:hover {
        background-color: #414141;
      }
    }
    & .gt-header-preview {
      background-color: #2A2A2A;
      & p, a, h1, h2 ,h3, h4, h5, h6 {
        color: $white-clr;
      }
    }
    & .gt-svg svg {
      fill: $white-clr !important;
    }
  }
  & .light-default-light {
    background: #282c34;
  }
  & .anchor-link {
    & svg {
      & .anchor-icon {
        fill: $white-clr;
      }
    }
  }
  & .error {
    color: $white-clr;
  }
  & .tag-item {
    & a {
      color: #5183F5;
      background: rgba(0, 0, 0, 0.2);
      &:hover {
        background: #111;
        color: #99c9f7;
      }
    }
    &.active a {
      color: #5183F5;
      background: #111;
    }
  }
  & .inner {
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    & p img {
      border: 1px solid #505050;
    }
    .gatsby-highlight pre[class*="language-"] {
      background: #282c34;
      & code {
        color: #E5C07B;
      }
      & .token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
        color: #C678DD;
      }
      & .token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
        color: #98C379;
      }
      & .token.boolean, .token.function {
        color: #61AFEF;
      }
      & .token.number {
        color: #D19A66;
      }
      & .token.operator, .token.entity, .token.url {
        color: #C678DD;
      }
      & .token.boolean {
        color: #D19A66;
      }
      & .token.punctuation {
        color: #ABB2BF;
      }
    }
    .gatsby-highlight pre[class*="language-"].line-numbers .line-numbers-rows {
      & span::before {
        color: #7e838b;
      }
    }
  }
}

.dark::-webkit-scrollbar-track {
  background: #2A2A2A;
}

.dark pre::-webkit-scrollbar-track {
  background: #2A2A2A;
}

html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 85%;
}

#gatsby-focus-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 122px;
}

svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

button {
  border: none;
  color: $white-clr;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
}

input {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

textarea {
  border: 1px solid rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Inter', sans-serif;
  resize: none;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

::selection {
  color: $white-clr;
  background: #3972f4;;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #EFF1F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(89, 124, 228);
}

ul {
  margin: 0;
  padding: 0;
  & li {
    list-style: none;
  }
}

a {
  color: $primary-clr;
}

.error {
  text-align: center;
  margin-top: 2rem;
  & span {
    font-size: 36px;
    font-weight: 700;
  }
  & h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .container-fluid {
    max-width: 880px;
  }
}

@media (max-width: 768px) {
  .error {
    & span {
      font-size: 28px;
    }
    & h1 {
      font-size: 36px;
    }
  }
}

@media (max-width: 476px) {
  .error {
    & span {
      font-size: 21px;
    }
    & h1 {
      font-size: 32px;
    }
  }
}