@import '../../styles/variables.scss';

.description {
  text-align: center;
  color: $black-clr;
  margin-bottom: 35px;
  & .description-content {
    &__heading {
      & span {
        font-size: 24px;
        font-weight: 700;
      }
      & h1 {
        font-size: 48px;
        font-weight: 700;
      }
    }
    &__info {
      margin-top: 25px;
      & p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
  }
}

.dark {
  & .description {
   color: $white-clr; 
  }
}

@media (max-width: 991px) {
  .description {
    & .description-content {
      &__heading {
        & h1 {
          font-size: 42px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .description {
    & .description-content {
      &__heading {
        & span {
          font-size: 18px;
        }
        & h1 {
          font-size: 38px;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .description {
    & .description-content {
      &__heading {
        & h1 {
          font-size: 34px;
        }
      }
      &__info {
        & p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .description {
    & .description-content {
      &__heading {
        & h1 {
          font-size: 26px;
        }
      }
    }
  }
}